/data/

.pathomic/

pathomic/
__pycache__/
*.pyc
*.pth

Geneformer/

# Python virtual environments
venv/
env/
.venv/
pathomic_env/

# Python cache
__pycache__/
*.pyc


# Jupyter Notebook checkpoints
KM_Analysis/outputs/
picasso_oof_predictions.csv



