/data/

.pathomic/

pathomic/
__pycache__/
*.pyc
*.pth

Geneformer/

# Python virtual environments
venv/
env/
.venv/
pathomic_env/

# Python cache
__pycache__/
*.pyc


#BestModels

Best_*


#KM outputs
KM_Analysis/outputs/

picasso_oof_predictions.csv

picasso_cv_results.csv

UNI/



